h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #e8524e;
    /* background-color: #e8524e; */
}
.app__body{
    background: rgb(240, 240, 240);
    /* margin-top: 5rem; */
    /* padding: 0rem 15rem; */
    min-height: 100vh;
    /* max-height: max-content; */
    
}
.search{
    text-align: center;
    /* margin-bottom: 1.4rem; */
    margin-top: 1.4rem;
    padding: 1rem;

}
.search__bar{
    width: 300px;
    padding: 5px 9px;
    border-radius: 15px;
    border: 1px solid #333;
}
.search__body{
    width: 300px;
    /* padding: 1.5rem; */
    /* background-color: #fff; */
    background: rgb(240, 240, 240);
border-radius: 10px;
    position: absolute;
    z-index: 1;
    left: 38rem;
    top: 8.9rem;

}
.search__text{
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 1rem;

}
.search__item{
    padding: 5px;
}
.search__item:hover{
    background: rgba(39, 39, 39, 0.2);
}
nav{
    margin: 5px 560px;

}
.paginationM{
    list-style: none;
    display: flex;

    
}

.page-link{
    padding:10px 20px;
    /* border: 1px solid; */
    background-color: white;
    color: #333;
    font-weight: 600;

}
.page-link:hover{
background-color:#e8524e;
color: #fff;

}
.active{
background-color:#e8524e;
color: #fff;

}

.loading__message{
  margin-top: 10rem;
}

.all{
    display: grid;
    justify-content:center;
    grid-template-columns: auto auto auto;
    margin: 0 2rem;
    max-width: 120rem;
    /* gap: 1.6rem; */

}
.card{
    width: 24rem; 
    margin: 1rem;
    height: 34vh;
    /* width: 25%; */
    /* height: 200px; */
    padding: 1.5vw;
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow: 0 15px 40px 0 #e2e8f0;
    gap: 40px;
    background:#fff;
    color: #374151;
   
}
/* .card:hover{
    transform: scale(1.1);
} */


.card-no{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
    left: 1rem;
    top: 0.5rem;
}


.card-img-top{

    padding-left: 30px;
    width: 250px;
    height: 150px;
    position: absolute;
    left: 9rem;
    top: 2.2rem;

}
.card-title{
font-weight: 700;
letter-spacing: 2px;
font-size: 1.5rem;
margin-top: 3rem;
/* margin-left: 1rem; */
text-transform: capitalize;
text-indent: 1rem;
}
.btn{
    color: rgb(20, 200, 200);
    transition: all 0.3s linear ;
    border: none;

}
.btn:hover{
    color: rgb(20, 200, 200);
    transform: scale(1.1);
    
}
.card-type{
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    /* font-size: 13px; */
    background-color:rgba(39, 39, 39, 0.1) ;
    /* cursor: pointer; */
    margin: 10px 5px;
    color: #374151;

}
.divP{
position: absolute;
/* display: inline-block; */
margin:1rem 0;
/* top: rem; */
color:rgba(0, 0, 0,1);
font-weight: 600;
}

.pop__up{
background-color: #fff;
width: 100%;
height: 2600vh;


background: rgba(39, 39, 39, 0.2);
backdrop-filter: blur(1px);

/* background-color: rgba(0,0,0,.5);  */


}
.up__display{
    /* background-color:rgb(20, 200, 200); */
    background-color: #fff;
    width: 38rem;
    height: 65vh;
    padding: 1rem;
    /* position: absolute; */
    top: 9.7rem;
    left: 27rem;
    border-radius: 15px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 4;
    animation:dropTop 0.3s;
}
@keyframes dropTop{
    0%{
        transform: translateY(0%) scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

.back__btn{
    position: absolute;
    top: 1rem;
    right:1.5rem;
}
.btn__back{
    border: none;
    background-color: #fff;
    /* background: rgb(20, 200, 200); */
    font-size: 1.3rem;
}
.pop__up{
   position: absolute;
   z-index: 2;
}
.info__title{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    top: 2rem;
    left: 14rem;
}
.info__img{
    width: 10rem;
    height: 10rem;
    /* position: absolute; */
    margin: 5rem 12rem;
}
.info__id{
    position: absolute;
    font-size: 70px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);  
    top: 0.4rem;
    margin: 0 1rem;

}
.info__type{
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color:hsla(0, 11%, 40%, 0.2) ;
    cursor: pointer;  
    display: inline-block;
    margin: 0 0.5rem;
    font-weight: 500;
}
.type__body{
    position: absolute;
    left: 13rem;
    top: 17rem;
}
.info__others{
    font-size: 1rem;
    font-weight: 500;
    padding: 0 2rem;
    margin-bottom: -0.1rem;
    text-transform: capitalize;
}